[2016-03-22 10:35] icanzilb opened #1 "OSX support"
the pod right now supports only iOS. it must be relatively straight forward to add OSX support

[2016-03-23 11:56] FranciscoAmado opened #2 "Underplot direct link"
Hi,

Just noticed a small error. Your underplot direct link is leading to a github 404 instead of the your actual website.

Awesome idea for the pod.
Thank you,
Francisco

[2016-03-23 12:05] icanzilb commented on #2
it was auto generated - i need to check which tool produced the 404 link

[2016-03-23 14:07] icanzilb commented on #2
oh no - human error - mine :) fixed now - thanks

[2016-03-23 14:07] #2 closed

[2016-03-24 14:42] icanzilb commented on #1
in osx-support branch, to merge when example app is fixed

[2016-03-25 10:44] icanzilb commented on #1
this was a tad more complicated than I initially thought because RxCocoa doesn't add "rx_event" to `NSGestureRecognizer` as it does to `UIGestureRecognizer`. Is that intentional @kzaher ?

If there isn't any concrete complication to adding `rx_event` to NSGestureRecognizer should I look into that and send a PR or do you want to take care of it, let me know.

In any case what I did to add it to NSG

[2016-03-25 11:07] kzaher commented on #1
Hi @icanzilb ,

I haven't tried to do that for OSX. Didn't have time. If that interface works out on OSX as well, we could pull it into `RxCocoa` :)

[2016-03-25 11:11] icanzilb commented on #1
I think `UIGestureRecoginizer` and `NSGestureRecognizer` are pretty much identical in behavior, it could be a nice opportunity for me to look a bit into the internals of `RxCocoa`. I'll look into it let's say ... next week :dancer:

[2016-03-25 11:11] #1 closed

[2016-03-29 16:40] waterskier2007 opened #10 "Demo app on iOS will not advance past swipe down/up on the second loop through"

[2016-03-29 17:21] icanzilb commented on #10
the recognizers are currently not automatically removed when the gestures are disposed of - I'll add that to the code

[2016-03-29 17:46] icanzilb commented on #10
fixed in https://github.com/RxSwiftCommunity/RxGesture/pull/11

[2016-03-29 17:46] #10 closed

[2016-03-29 18:34] icanzilb opened #14 "release a 0.1.6"
* test
* make sure all the new APIs are coherent across the code

[2016-04-05 17:35] #14 closed

[2016-04-05 17:36] icanzilb opened #16 "Test suite"
Add a UI test suite to run though the example app and validate that all gestures work

[2016-05-12 21:41] garsdle opened #17 "Minimum deployment target '8.3'"
I was wondering what the reason the minimum target you have in the pod spec file 8.3 and not just 8? Love the library!

[2016-05-13 10:00] icanzilb commented on #17
to be honest I'm not sure why, it doesn't look like something I intentionally did. maybe `pod create` adds that by default? again - not sure why, looks like rxswift itself requires 8.0 so at first sight there's no need to require 8.3 for RxGesture

[2016-05-17 09:23] lfarah opened #18 "Typo in description"
<img width="426" alt="screen shot 2016-05-17 at 2 22 45 am" src="https://cloud.githubusercontent.com/assets/6511079/15317432/45a1a7d8-1bd6-11e6-933c-5f29ef7d02bb.png">

[2016-05-17 09:34] icanzilb commented on #18
thanks for reporting

[2016-05-17 09:34] #18 closed

[2016-06-08 22:29] AndrewSB opened #19 "No Pinch gesture?"
Was that an overthought or is it impossible to implement?

I was thinking about giving it a shot, wanted to make sure it wasn't a path that had been taken before

[2016-06-09 06:29] icanzilb commented on #19
I don't think there is a pinch gesture support currently, but it's something I can see people having need of. If you want to go ahead - do it :) Just keep an eye on the existing code and you should be fine adding it

[2016-06-24 19:15] plm75 opened #21 "Pan gesture type ?"
Sorry in advance for a very basic question, but I'm having some trouble with the following:

    class SomeView: UIView {
      var panGesture: [WHAT IS THE TYPE]!

      override init(frame: CGRect) {
        // ...
        self.panGesture = self.rx_gesture(.Pan(.Changed))
        // ....
      }
    }

What type should panGesture be declared as ? I tried:

    - ControlEvent<RxGestureTypeOption>

[2016-06-24 19:22] plm75 commented on #21
Forgot to import RxCocoa ....
Sorry!

[2016-06-24 19:22] #21 closed

[2016-09-14 12:47] prizrak1609 opened #23 "Swift 3 Support"
Hi,

I just like to know how your plans are about a Swift 3 compatible version?

Thanks

[2016-09-14 12:54] icanzilb commented on #23
will definitely have one, but swift 3 has just been released yesterday so it'll take a bit till I have the time to do the update. If you happen to work on a swift 3 update feel free to do a PR

[2016-09-14 14:52] prizrak1609 commented on #23
thank for reply

[2016-09-14 14:52] #23 closed

[2016-09-16 01:54] vegidio opened #24 "It doesn't support Swift 3 + RxSwift 3.0.0-beta.1 yet"
RxGesture is still using the old Swift syntax that is not available by default in Xcode 8. It needs to be updated to Swift 3 + RxSwift 3 in order to continues to work.

[2016-09-16 15:36] icanzilb commented on #24
RxSwift 3 beta just came out, but if you send a PR I can have a look

[2016-10-09 07:54] icanzilb commented on #16
tried this with Apple's UI testing framework but it seems it doesn't support all gestures :( any ideas how to test for all possible gestures anyone?

[2016-10-12 20:43] BNTR opened #25 "PanConfig creation mistype?"
[code]

I think there should be

[code]

Am I right ?

[2016-10-12 20:53] icanzilb commented on #25
oh yeah, that does look like a bug ... you want to send a PR & fix it?

[2016-10-12 21:07] BNTR commented on #25
sure, why not)

[2016-10-12 21:16] #25 closed

[2016-10-13 19:51] BNTR opened #28 "Mistype in filtering 'panObservable' ?"
Now in `UIView+RxGesture.swift` we have this

[code]

Both conditions in 'case' are repeated. Should there be velocity checking after `&&` ?

[2016-10-19 03:06] dangthaison91 opened #29 "Way to access UIGestureRecognizer?"
Is there any way to get GestureRecognizer? In some case i want to configure some option like: numberOfTaps, numberOfTouchs or cancelTouchInView...

I see pull request #22 could help.

[2016-10-24 16:56] shonorio opened #31 "RxSwift final version broken RxGesture"
RxSwift final version deprecated some Disposables used in RxGesture.

[2016-10-24 17:00] icanzilb commented on #31
I've seen your PR and will merge it by tomorrow, thanks for that!

[2016-10-24 17:00] #31 closed

[2016-10-28 10:18] hallelujahbaby opened #33 "Is this Carthage Compatible?"
hi there, will this project be Carthage compatible ?

thanks. :)

[2016-10-28 14:32] icanzilb commented on #33
if anyone makes a PR it Carthage support it will be welcome

[2016-10-28 14:32] #33 closed

[2016-10-28 14:33] icanzilb commented on #28
they do look identical, I'll have a look

[2016-11-22 16:37] juliengdt commented on #24
@icanzilb is it me or this issue can be closed ?

[2017-01-09 23:14] dianambb opened #37 "Support for RxSwift 3.1.0"
RxSwift has a newer version out which I would like to use. Can we update RxGesture to use the new version?

[2017-01-10 09:16] freak4pc commented on #37
This should work with 3.1.0. (see https://github.com/RxSwiftCommunity/RxGesture/pull/36)

Are you having any issues specifically ?

[2017-01-11 07:01] retsohuang opened #38 "RxSwift version conflicts with Moya"
[code]

[2017-01-11 07:03] freak4pc commented on #38
This is probably due to a min-version dependency issue that was resolved but not pushed to Cocoapods.

Try replacing the RxGesture line in your Podfile to

`'RxGesture', :git =>'https://github.com/RxSwiftCommunity/RxGesture.git'`

[2017-01-11 07:09] retsohuang commented on #38
Oops, I haven't noticed that commit wasn't published, works now, thanks.

[2017-01-11 07:09] #38 closed

[2017-01-11 07:17] freak4pc commented on #38
Anyone up to pushing the updated Spec ? @icanzlib

[2017-01-11 07:39] icanzilb commented on #38
yeah, let me have a look

[2017-02-02 11:17] icanzilb commented on #37
closed due inactivity

[2017-02-02 11:17] #37 closed

[2017-02-20 16:44] jegnux commented on #29
The new [`1.0.0`](https://github.com/RxSwiftCommunity/RxGesture/releases/tag/1.0.0) release give you access to some of these parameters on gesture creation (ex: `view.rx.tapGesture(numberOfTaps: 2)`) and even to the whole gesture recognizer thanks to the `configure: ((GestureRecognizer) -> Void)` parameter. Check it out!

[2017-02-20 16:44] #29 closed

[2017-02-20 16:45] jegnux commented on #28
Since [`1.0.0`](https://github.com/RxSwiftCommunity/RxGesture/releases/tag/1.0.0) release, this issue is obsolete. Feel free to check it out.

[2017-02-20 16:45] #28 closed

[2017-02-20 16:45] jegnux commented on #19
`UIPinchGestureRecognizer` is now supported in the [`1.0.0`](https://github.com/RxSwiftCommunity/RxGesture/releases/tag/1.0.0) release. Check it out!

[2017-02-20 16:45] #19 closed

[2017-02-20 16:46] #24 closed

[2017-03-12 09:07] devxoul opened #42 "Reason for using PermissiveGestureRecognizerDelegate by default?"
### Question

RxGesture uses `PermissiveGestureRecognizerDelegate` by default in [View+RxGesture.swift#L92](https://github.com/RxSwiftCommunity/RxGesture/blob/1.0.0/Pod/Classes/View%2BRxGesture.swift#L92). Is there any reason to use this by default?

### Background

1. I used `tapGesture()` in the subview of `UICollectionViewCell`.
2. Start scrolling the collection view.
3. Tap collection view to

[2017-03-13 09:20] jegnux commented on #42
This delegate is here for an easier use of `anyGesture()` operator allowing to attach multiple gestures at once. In that case they should be recognized simulteanously.

This is exactly what the `configuration` closure is for :+1:

The problem is that if you use another third 3rd library that also uses `RxGesture`, and if you change the default delegate for the whole `RxGesture` library, it can lea

[2017-03-13 10:03] devxoul commented on #42
That makes sense. Thanks for your detailed explanation!

[2017-03-13 10:03] #42 closed

[2017-03-24 18:58] haitacnj opened #43 "tapGesture call in UILabel and it's parent view when i touch on UILabel"
i touch on my label to do something and touch on it's parent view to dismiss popup ,...dismiss popup always call

[2017-03-24 19:31] jegnux commented on #43
@haitacnj You should set a delegate on each of your gesture recognizer:
[code]

and implement the following method:
[code]

[2017-03-24 20:04] ozgur opened #44 "PermissiveGestureRecognizerDelegate should be public."
We have `PermissiveGestureRecognizerDelegate` implemented but it is not used internally anywhere in the code. I believe it should be defined as public.

[2017-03-24 20:33] jegnux commented on #44
@ozgur
It is used if the gesture recognizer doesn't have already a delegate: [View+RxGesture.swift:L92](https://github.com/RxSwiftCommunity/RxGesture/blob/master/Pod/Classes/View%2BRxGesture.swift#L92)

Moreover, it's just a simple class with only one implemented method. I don't see any use case where this would be useful outside of *RxGesture*. What do you have in mind?

[2017-03-26 17:27] haitacnj commented on #43
@jegnux thank you, but in "gestureRecognizer" method

both subscribe call back not call if  return false

[2017-03-26 23:28] jegnux commented on #43
@haitacnj can you give some code please?

[2017-03-27 04:34] haitacnj commented on #43
![popup_rxgesture](https://cloud.githubusercontent.com/assets/3365969/24340954/5d27a7f2-12e0-11e7-8e8b-97bf537d58da.png)

@jegnux this's my case
(1) is always called although i touch on UILabel 1.
If (4) return false , nothing happen, both (1) and (3) aren't called
I hope only (3) to be called when i touch on UILabel1

Release 0.2.1 works perfectly, no need to to anything :) i keep using it

Thank

[2017-03-27 13:40] jegnux commented on #43
@haitacnj Keep the delegate only for the first gesture recognizer, then try to implement the following delegate method:
[code]
Also, don't forget to remove the implementation of
[code]

[2017-03-28 01:44] haitacnj commented on #43
@jegnux thank you 👍

[2017-03-28 01:44] #43 closed

[2017-03-29 22:17] ozgur commented on #44
Oh, that's good. I haven't seen that. I wanted to use it to save myself the trouble of implementing `shouldRecognizeSimultaneouslyWith` method. I was going to do sth like below:

    let configuration: (UIGestureRecognizer) -> () = { recognizer in
      recognizer.delegate = PermissiveGestureRecognizerDelegate.shared
    }

    mapView.rx.panGesture(configuration: configuration)
      .when(.began

[2017-03-29 22:47] jegnux commented on #44
@ozgur oh I see. Indeed you don't have to do this as it's the default behavior.

I close the issue.

[2017-03-29 22:47] #44 closed

[2017-04-13 08:55] karpov3 opened #46 "Discern single from double tap"
Hi,
in my view i have to actions, single and double tap.

`self.view.rx
            .tapGesture(numberOfTapsRequired: 2)
            .when(.recognized)
            .subscribe(onNext: { value in

            })
            .addDisposableTo(disposeBag)`

How can I discern them, because Singe and Double always triggers toghether?

[2017-04-13 09:45] jegnux commented on #46
@karpov3 It's a similar problem to #43

1. Set the delegate for the single tap gesture:
[code]

2. Implement this:
[code]

[2017-04-13 10:16] karpov3 commented on #46
@jegnux Thank you, good solution!

[2017-04-13 10:48] #46 closed

[2017-04-14 15:44] bidadh opened #47 "Carthage build fail in release 1.0.1"
I'm getting the following error with your latest release(1.0.1) using Carthage.
it was working before so I have to explicitly specify 1.0.0 in my Cartfile which is not my preferred way.

**Building scheme "RxGesture-iOS" in RxGesture.xcodeproj
Build Failed
	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -project PATH_AO_APP/Carthage/Checkouts/RxGesture/RxGesture/RxGesture.xcodeproj -sch

[2017-04-14 16:41] jegnux commented on #47
@bidadh I just ran `carthage update --platform iOS` on a fresh project with the following Cartfile and it went well.

[code]

What's your cartfile content?
Also, I'm not sur to understand, what it the code that works? `.bind(onNext:` or `.bindNext(`?
#45 changed `.bindNext(` to `.bind(onNext:` because the former was deprecated by RxSwift 3.4.0.

[2017-04-14 17:03] bidadh commented on #47
here is my Cartfile
[code]

And the answer to your second question is `.bindNext` works

[2017-04-14 17:56] jegnux commented on #47
@bidadh If `.bind(onNext:` doesn't work, it means that you don't have `RxSwift 3.4.0` but an older release.
What is in your `Cartfile.resolved`?

[2017-04-14 17:57] bidadh commented on #47
it's 3.4.0

[2017-04-14 17:58] bidadh commented on #47
here is my ` Cartfile.resolved`

[code]

[2017-04-14 18:04] jegnux commented on #47
[code]
🤔 `RxGesture` is `1.0.0`.
But `.bind(onNext:` was introduced with `1.0.1`.

I guess you have some cleaning to perform because it seems that Carthage tries to build the wrong version. Then, try to use `RxGesture 1.0.1` again.

[2017-04-14 18:06] bidadh commented on #47
oh sorry as I mentioned earlier I had to specify the version in Cartfile == 1.0.0

here is my Cartfile:
[code]

[2017-04-14 19:04] jegnux commented on #47
@bidadh Yes but can't you try again with `1.0.1`? Why doesn't it work with `1.0.1` exactly?

[2017-04-14 19:05] bidadh commented on #47
I'm trying to find the reason

[2017-04-14 19:10] bidadh commented on #47
I created an empty directory with a new Cartfile without any specific versions. It passes RxGesture with 1.0.1! and fails for RxSwiftExt

I then removed RxSwiftExt from my original project and re-run carthage update and still fails on RxGesture 1.0.1!

I just deleted Carthage directory and also removed RxSwiftExt from Cartfile in my original project and ran carthage update command again.  I'll upd

[2017-04-14 19:31] bidadh commented on #47
Deleted Carthage directory and re-run `carthage update` works!
I still have an issue with RxSwiftExt and I have to specify 2.3.0 version but that's not relevant

all good now.

Thanks

[2017-04-14 22:05] jegnux commented on #47
@bidadh ok great. I hope you'll find a solution for RxSwiftExt. Can I consider this issue resolved?

[2017-04-15 15:36] bidadh commented on #47
yes. resolved.
Thanks @jegnux

RxSwiftExt has been resolved in the new version(2.4.1)

[2017-04-16 14:28] #47 closed

[2017-04-25 07:00] lichendi commented on #17
So ,how can we fix this?

[2017-05-02 10:13] lexrus commented on #17
Same issue here.
The framework target of RxGesture is set to iOS 9.0. Other Rx*** frameworks works fine in my iOS 8.0 project.
<img width="588" alt="screen shot 2017-05-02 at 6 12 04 pm" src="https://cloud.githubusercontent.com/assets/219689/25614029/e7c03d7c-2f62-11e7-9408-ccb891d37bc9.png">

[2017-05-10 18:46] haitacnj opened #49 "Subscribe several times"
I use tapGesture in TableView and it calls several times.

Touch once and call  3 (or 2) times
play sound....
play sound....
play sound....

[2017-05-10 19:15] jegnux commented on #49
@haitacnj Your cell is reusable, so everytime it's reused, you subscribe to it again. So the more it's reused, the more you will perform your subscribe onNext closure.

One solution could be to add a `reusableBag` in your cell subclass and clean it in `prepareForReuse`:
[code]

and add your disposeable in this bag:
[code]

PS: I close this as it's not really related to RxGesture, but feel free to

[2017-05-10 19:15] #49 closed

[2017-07-17 06:01] mgurreta opened #52 "Carthage support?"
Don't forget carthage users!! :)

[2017-07-17 07:24] jegnux commented on #52
@mgurreta Carthage should work with RxGesture

What happened?

Or maybe you added this issue only because we don't mention Carthage support on README?

[2017-07-17 11:43] mgurreta commented on #52
yeah. it's only because there is no mention on the readme file. apart from that this extension to Rx it's super awesome. thanks

[2017-07-17 12:14] jegnux commented on #52
Ok, I'll add it to readme then, you're right. Thanks for this report.

[2017-07-17 16:03] mgurreta commented on #52
thanks @jegnux!! :)

[2017-07-22 22:05] mgurreta commented on #52
fixed with https://github.com/RxSwiftCommunity/RxGesture/pull/53

[2017-07-23 07:23] jegnux commented on #52
Thanks 👍

[2017-07-23 07:23] #52 closed

[2017-08-06 07:54] OrkhanAlikhanov commented on #17
@icanzilb So, why don't you lower the deployment target? Is there any specific reason?

[2017-08-06 16:03] icanzilb commented on #17
maybe @jegnux can address this? or close the issue?

[2017-08-06 16:03] icanzilb commented on #16
@jegnux can you address this or close it?

[2017-08-07 13:35] jegnux commented on #17
@icanzilb I'll enable this on future release.
It's already done on https://github.com/RxSwiftCommunity/RxGesture/tree/feature/customizable-delegate branch, but I still want to add 2-3 things before opening a PR

[2017-08-07 13:36] jegnux commented on #16
@icanzilb I won't be able to address this alone. Not sure if I should close it though. Maybe someday, a contributor will come here and handle this like I did with some other PRs 🤔 .

[2017-08-15 12:48] SemenovAlexander opened #55 "Carthage build is broken"
Thanks for the great library!

I'm trying to install it via Carthage using
`carthage update --platform iOS` and constantly get following error:
`#import "Headers/RxCocoa-Swift.h"
        ^
/Volumes/Workspace/ololo/Carthage/Checkouts/RxGesture/RxGesture/../Carthage/Build/Mac/RxCocoa.framework/Headers/RxCocoa-Swift.h:136:9: error: module 'AppKit' not found
@import AppKit;
        ^
<unknown>:0: erro

[2017-08-16 04:14] TrungPhanTiki commented on #17
I got the same problem. My app target iOS 8.0. Hope you guy fix it ASAP.

[2017-08-18 14:13] #17 closed

[2017-08-18 14:38] jegnux commented on #55
Hi @SemenovAlexander
I've just published a [`1.1.0` release](https://github.com/RxSwiftCommunity/RxGesture/releases/tag/1.1.0) that should fix this issue.

Thanks for your contribution and feel free to check if everything works correctly for you.

[2017-08-18 14:38] #55 closed

[2017-08-18 14:39] jegnux commented on #17
Hi everyone, I've just changed the app target to iOS 8.0 in [`1.1.0` release](https://github.com/RxSwiftCommunity/RxGesture/releases/tag/1.1.0).
Feel free to check it out :wink:

[2017-09-10 04:37] sidmani opened #57 "Swift 4 support"
Just wondering if there are any plans for Swift 4/Xcode 9 support. The library currently doesn't compile under Swift 4, but I can fix it and create a pull request if someone with write access makes a swift-4 branch for me to compare against.

[2017-09-10 04:54] sidmani commented on #57
https://github.com/sidmani/RxGesture/tree/swift-4 contains all necessary changes. I don't know much about Carthage, so I left that untouched, but I updated the podspec to depend on RxSwift and RxCocoa 4.0.0-alpha.0.

[2017-09-11 11:32] jegnux commented on #57
Thanks @sidmani I'll try to look into your PR. Ideally I would have waited to have `RxSwift 4` out of alpha/beta before updating `RxGesture`.

I wonder how other @RxSwiftCommunity/contributors handle this?

[2017-09-11 13:15] icanzilb commented on #57
@jegnux rxswift4 is still an alpha pre-release, I'm waiting for a stable beta before updating my libs

[2017-09-11 14:28] sidmani commented on #57
@jegnux I would have waited too, but there's an issue (or maybe it's the intended behavior, the cocoapods team hasn't responded to me) with cocoapods which causes "4.0.0-alpha.1" to not satisfy the requirement "~> 3.4" for RxSwift, so having a swift-4 branch with updated dependencies would be convenient to avoid git submodules.

[2017-09-11 14:31] sidmani commented on #57
None of the changes I made were RxSwift-related, only Swift 4 updates.

[2017-09-11 14:41] jegnux commented on #57
@sidmani can't you use RxSwift 3.x and RxGesture 1.1.x until RxSwift 4 come's out?

[2017-09-11 14:46] freak4pc commented on #57
@jegnux @sidmani In general Swift 4 should hit final tomorrow with the release of iOS 11 and iPhone 8/X/whatever, so we can hold on this and see if this PR is still relevant

[2017-09-13 07:57] raymondCaptain opened #58 "If I subscribe the tapGesture at a custom view, how can i release the resource in time in case it prevent the dealloc of the custom view."
such as:
[code]

or
[code]

How can i release the resource  in time in case it prevent the dealloc of the custom view?

[2017-09-13 08:08] jegnux commented on #58
I'm not sure to understand but I don't think you need `.takeUntil(rx.deallocated)` here. Just add your disposable to your dispose bag and it should be fine.

[code]

[2017-09-13 08:18] raymondCaptain commented on #58
I init a view which never be used.
When i init it, it deinit immediately.

When i add
[code]
this to my view.

Then the view have not deinit immediately.
I don't know why.

[2017-09-13 08:30] jegnux commented on #58
@raymondCaptain Do you really have only a `print($0)` in `subscribe` or it's just for the example?

[2017-09-13 08:35] raymondCaptain commented on #58
Not for example, just a `print($0)`.
And I have import "NSObject_Rx", so i can use `rx.disposeBay` directly.

[2017-09-13 08:45] raymondCaptain commented on #58
When I change
[code]
to this
[code]

The view will deinit as expected.

[2017-09-13 08:58] jegnux commented on #58
Which version of RxGesture do you use? Maybe there's a leak somewhere.

[2017-09-13 09:02] raymondCaptain commented on #58
version 1.1.1

[2017-09-13 14:58] Abdul-Moiz opened #59 "RxGestureRecognizerDelegate policies internal protection issue"
Policies are not accessible due to the internal modifier. They need to be public.

[2017-09-13 19:13] jegnux commented on #59
@Abdul-Moiz this should be fixed in 1.1.1, make sure you have the last version.

[2017-09-20 07:52] xushao1990 commented on #57
👍

[2017-09-20 11:47] Plnda commented on #57
Still cannot update to the latest 4.0 rxswift version since I have this error
`
RxSwift (= 4.0.0-beta.0) required by Podfile
RxSwift (~> 4.0.0-beta.0) required byRxCocoa (4.0.0-beta.0)
RxSwift (~> 3.6) required by RxGesture (1.1.1)
`

[2017-09-20 13:49] EvsenevDev commented on #57
@jegnux
Hi, i tried add migration to Swift 4 with RxSwift 4 beta, but i have issues with *Defaults* enums, thats couldn't be used for default values of init parama. I can do that without enums and help you add this migration, i'm interested, but i want hear your solution. What do you think?

Thanks

[2017-09-20 13:50] sidmani commented on #57
@EvsenevDev look at my fork

[2017-09-20 13:52] jegnux commented on #57
@EvsenevDev what is your solution "without enum"?

Is it better than @sidmani's? (public `Defaults` here the enum name is prefixed by the kind of Defaults)

[2017-09-20 14:23] EvsenevDev commented on #57
@sidmani @jegnux ok. Will you merge it?

[2017-09-20 14:34] sidmani commented on #57
@EvsenevDev @jegnux I need a swift4 branch to compare against (unless you want me to use master?)

[2017-09-20 15:17] jegnux commented on #57
@sidmani I just created `swift-4` branch.

[2017-09-25 22:11] JamesPerlman opened #61 "Strange bug with `when` func"
I was getting this error, compiling with Xcode 9.0 and RxGesture 1.1.1:

[code]

I tried changing my code to be more type-explicit; same error.  Then I tried removing the RxGesture library completely and it worked.  Then I changed the public `when` function so it does not reference the internal `when` function (possible recursion-related compiler bug?):

[code]

...and it works.

[2017-09-29 14:34] #59 closed

[2017-10-01 17:39] adamsmaka commented on #57
is it possible to use it alongside RxSwift 4.0 ?

[2017-10-13 10:43] yan-zaitsev opened #66 "tapGesture() immediately send event"
I have a question, why there RxGesture/Pod/Classes/View+RxGesture.swift:100 is call ".startWith(gesture)"?

[code]

I am binding tap gesture on my view to show another controller and it is called immediately after initialisation of view:
[code]

[2017-10-13 11:04] yan-zaitsev commented on #66
Solved:
need to use .tapGesture().when(.ended)

[2017-10-13 11:04] #66 closed

[2017-10-14 06:20] jegnux commented on #61
Hi @JamesPerlman, can you verify if you still have this issue with Xcode 9.1 ?
Because I ran the example project with Xcode 9.1 without your suggested change and it worked perfectly.

[2017-10-14 07:14] #58 closed

[2017-10-14 07:14] jegnux commented on #58
@raymondCaptain hey! Can you try to use RxGesture from branch `master` and tell me if the issue is correctly fixed? Thanks 👍

[2017-10-18 20:01] worthbak commented on #57
Any status update on the Swift 4 branch? Looks like RxSwit 4.0 just dropped.

[2017-10-18 20:06] bobgodwinx commented on #57
@worthbak there is `Swift 4.0` branch you point your pod to that branch for the time being

[2017-10-19 08:59] jegnux commented on #57
[code]

Thank you all for your contributions 🙏

[2017-10-19 08:59] #57 closed

[2017-10-19 09:52] jegnux commented on #61
I guess it's fixed. Feel free to reopen if it's not.

[2017-10-20 15:01] igorkulman commented on #61
Having the same issue in XCode 9.0.1 when I updated to RxGesture 1.2.0:

[code]

[2017-10-20 15:18] igorkulman commented on #61
@jegnux  can you try XCode 9.0.1? I cannot use 9.1 Beta.

[2017-10-20 19:59] jegnux commented on #61
It's really strange, I guess it comes from your specific setup as I don't have this kind of issue (and saw nobody else reporting it).
Though, I will fix it by replacing the `when()` function body by what you suggested.

[2017-10-21 20:46] #61 closed

[2017-10-21 20:47] jegnux commented on #61
@igorkulman can you try by targeting `RxGesture` with HEAD of `master` branch?

Pod:
[code]

Carthage:
[code]

[2017-10-22 12:27] igorkulman commented on #61
Thanks, it works now.

[2017-10-22 19:27] jegnux commented on #61
Good, I release a new version then

[2017-10-23 14:28] plm75 opened #70 "multiple SwipeGestures"
Hello, thanks for this library.

I'm trying to recognise multiple swipe gestures on the same view and create an observable of the latest recognised swipe's direction.

I can do it with an Observable.merge but it is pretty verbose and I was hopping to be able to do something like:

`let observableDirection = self.view.rx.swipeGesture([.left, .right, .up, .down]).when(.recognized).map { $0.direction

[2017-10-23 15:41] jegnux commented on #70
Oh, that's interesting. It seems it's a known "bug" (or feature?) of `UISwipeGestureRecognizer`.
We can find questions about that on StackOverflow [here](https://stackoverflow.com/questions/24215117/how-to-recognize-swipe-in-all-4-directions), [here](https://stackoverflow.com/questions/3319209/setting-direction-for-uiswipegesturerecognizer) or [here](https://stackoverflow.com/questions/8181774/how

[2017-10-23 15:47] plm75 commented on #70
Ok then,

Thanks!

[2017-10-23 19:13] jegnux commented on #70
I keep this open. I already started to work on it. I don't know when it'll be ready though.

[2017-11-17 03:33] ajchili commented on #16
Would you mind if I took this on?

[2017-11-17 08:34] jegnux commented on #16
@ajchili I started to work on it, but don't have time to go further. So for now I just set up the target and added one test.
=> https://github.com/RxSwiftCommunity/RxGesture/blob/v2.0.0/RxGesture/RxGesture-iOS-Tests/RxGestureTests.swift

You can fork the v2.0.0 branch and feel free to add more tests and make a PR (against `v2.0.0`)

Thanks 👍

[2017-11-17 14:51] ajchili commented on #16
I'll get started on it over the weekend, thanks for the starting point

[2017-11-21 07:10] karthikgs7 opened #71 "Self is not released when gesture is added to Self itself."
Self is not released when gesture is added to self itself. Have tried capturing self as weak and unowned, but no success.

[code]

Self is released when moving the subscription to superview of self.

[code]

Wondering is this correct behavior or issue!

[2017-11-26 08:48] 15538161133 commented on #71
11377185

[2017-12-15 07:17] plm75 opened #72 "RxGesture on containing view + UICollection's didSelect"
Hello, I hope it is ok to ask a question here.

I have a collectionView with multiple types of cells.
One type is cells containing a TextView
Another type is cells  with just a label.

I want to handle taps on the label cells by implementing the collectionView's `didSelectItemAtIndexPath` method.

I also want to dismiss the keyboard when there's a tap outside the textView with the following:

[2017-12-18 13:35] Lutzifer opened #73 "tvOS Compatibility"
Are there any known issues for migrating parts of this (press, long press, swipe) to tvOS?

[2017-12-19 09:22] #73 closed

[2017-12-19 10:37] Nominalista opened #75 "How to distinguish tap from scroll in scrollView?"
I noticed different behavior between this two parts of code:
1. view.rx.tapGesture().when(.recognized).subscribe(onNext: { _ in
       self.doSomething()
   }).disposed(by: disposeBag)

2. view.addGestureRecognizer(UITapGestureRecognizer(target: self, action: #selector(doSomething)))

The difference is that (this view is added to UIScrollView) when the user scrolls and taps to stop scrolling 1. ap

[2017-12-19 12:35] jegnux commented on #75
@Nominalista yes I guess it's because RxGesture allows by default simultaneous gesture recognizers. you can change this by using your own delegate or by changing the `simultaneousRecognitionPolicy` of default delegate.

[2017-12-19 13:00] nominalista commented on #75
delegate.simultaneousRecognitionPolicy = .never helped! Thanks for help.

[2017-12-19 13:00] #75 closed

[2018-01-03 02:49] melpup commented on #72
I have a similar issue to the one you had.

The following code allowed the tap gesture to propagate down to the UICollectionView's didSelect method:
[code]

I just tried to set **cancelsTouchesInView** to false.
More details here: [https://developer.apple.com/documentation/uikit/uigesturerecognizer/1624218-cancelstouchesinview](url)

[2018-01-04 07:58] plm75 commented on #72
👍 Thanks @melpup

[2018-01-04 07:58] #72 closed

[2018-01-05 05:40] melpup commented on #72
You're welcome @plm75

[2018-01-12 01:30] JohnEstropia opened #77 "Any plans on supporting custom UIGestureRecognizer subclasses?"
In particular, specialized gestures that extend the default UIKit subclasses

[2018-01-12 10:19] jegnux commented on #77
@JohnEstropia I don't understand...
RxGesture supports all gestures defined by UIKit.
Also, the API is extensible so if in your projects, you want to support your own gesture recognizer, it's possible.

You can do:
[code]

You can also implement the same shortcuts as ones provided by RxGesture with native recognizer. You can inspire yourself with this implementation: https://github.com/RxSwiftComm

[2018-01-22 08:01] JohnEstropia commented on #77
Sorry if I wasn't clear. First, thanks for mentioning the `gesture(...)` factory method that accepts a `UIGestureRecognizer` instance directly, I am now using that for my implementation.

I guess when I first asked the question I was looking for a factory method that lets me configure the `RxGestureRecognizerDelegate` without having to create my own concrete `GestureRecognizerFactory`. Now I found

[2018-01-22 08:21] jegnux commented on #77
Hum it would be possible, but as this operator can take any gesture recognizer, I don't feel comfortable  by overriding it's delegate. I could check if there's already a delegate and set it to `RxGestureRecognizerDelegate` only if there isn't already one, but I don't really like this.
What you could do is to use it by yourself:
[code]

But you'll have to maintain a strong reference to it, otherwis

[2018-04-15 16:56] ajchili commented on #16
@jegnux I have been busier than I expected when I first commented on this issue. I am unsure if I can still make tests but I get any free time to do so I'll PR against `v2.0.0`.

[2018-04-15 18:05] jegnux commented on #16
@ajchili don't worry, I was myself busy and wasn't able to progress a lot on it.
You can still add tests targeting `2.0.0`. If that branch is merged in the meantime, we'll re-target it to `master`.

[2018-04-17 23:47] felipericieri commented on #72
Just came across it, very useful! Thanks!

[2018-05-27 04:10] choiks14 opened #79 "Is dead project?"
Is dead project?

[2018-05-27 06:23] jegnux commented on #79
Absolutely not !
A v2 is prepared and open as pull request. I waited for some feedbacks but I think I gonna release it anyway.
It includes 2 brand new custom gesture recognizers.

[2018-06-14 10:18] dimaosa opened #80 "Is it possible to subscribe to UIButton UIControlEvents(.touchUpInside, .touchDown, .touchUpOutside, etc..)?"
Hi here,

Is it possible to subscribe to UIButton UIControlEvents(.touchUpInside, .touchDown, .touchUpOutside, etc..)?

otherwise there is still need to write boilerplate
[code]

for example right now I can subscribe to `.rx.tapGesture().asControlEvents...` but this will give me only UITapGestrureRecognizer 😞.

[2018-06-14 10:40] jegnux commented on #80
This out of scope of RxGesture but if I understand correctly, what you want is already possible with RxCocoa:
[code]

[2018-06-14 10:57] dimaosa commented on #80
yeah, exactly, thank you @jegnux . Hmm, I thought it was related to RxGesture.

[2018-06-14 10:57] #80 closed

[2018-09-17 08:47] freak4pc opened #82 "Swift 4.2 release"
Hey @jegnux - Seems like the master branch has Swift 4.2 properly fixed, but a release wasn't cut yet :)

I could do it myself but preferred leaving it to you :]

Let me know if I can help!

[2018-09-17 10:37] jegnux commented on #82
Hi @freak4pc, thanks for the reminder. I have some minor stuff I'd like to add to the force touch gesture recognizer for this v2.
I'll take care of it before the end of the month if you think it's not too late.

[2018-09-17 10:38] freak4pc commented on #82
Thanks @jegnux -
I think that would be tricky as Xcode 10 GM is already out, and today iOS 12 will be officially rolled out to public users.

What do you think about releasing a release that supports Swift 4.2 today or tomorrow, and then by the end of the month just add the force touch recognizer as a v2.1 ?

[2018-09-17 11:59] jegnux commented on #82
What's the issue exactly? Doesn't the pod compile if configured with `SWIFT_VERSION` set to 3.3?

[2018-09-17 12:00] freak4pc commented on #82
3.3 ? I'm confused :)

If a developer uses Xcode 10 and Swift 4.2 the project won't build without the latest release (unless the developer points directly to the GitHub repo).

[2018-09-17 12:16] jegnux commented on #82
Sorry, I mean `3.0`. You should be able to comnpile a pod with an older version of swift by adding this to podfile:

[code]

Doesn't this work?

[2018-09-17 12:17] freak4pc commented on #82
We are not referring to Swift 3.0 at all at this point.
Just 4.0 vs 4.2.

'm not seeing any reason to ask other developer to do this by hand for a specific targets if the `master` branch already deals with both ?

[2018-09-17 12:20] jegnux commented on #82
Yeah yeah absolutely, I just wanted to make sure that they are not totally stuck.

[2018-09-17 12:21] freak4pc commented on #82
Definitely not stuck, they can simply direct to the repo
[code]

[2018-09-17 12:22] jegnux commented on #82
Ok great. I prepare the 2.0.0 for today then

[2018-09-17 12:33] freak4pc commented on #82
Appreciate it :) Thanks !

[2018-09-21 22:42] freak4pc commented on #82
Will be resolved by #78. Closing.

[2018-09-21 22:42] #82 closed

[2018-09-26 13:10] svyatoslav-zubrin opened #84 "Forgotten gesture configuration in latest release (2.0.0)"
It looks like 'configuration'-parameter passed to public initializers of swipe gesture is simply forgotten/skipped. I've created pull request #83 with a fix. Haven't checked the rest of gestures though.

[2018-09-26 14:57] jegnux commented on #84
Indeed, thanks for catching.
I just merged your PR and I'm preparing a 2.0.1 release 😉

[2018-09-26 15:10] jegnux commented on #84
@svyatoslav-zubrin You can update :)
<img width="429" alt="capture d ecran 2018-09-26 a 17 09 43" src="https://user-images.githubusercontent.com/63070/46089521-fee9b700-c1ae-11e8-8656-903e54fa11ea.png">

[2018-09-26 15:16] jegnux commented on #77
@JohnEstropia Hey,

I think this should be doable now with RxGesture 2.x:

[code]

[2018-09-26 15:16] #77 closed

[2019-04-02 20:32] seanrucker opened #88 "RxSwift/RxCocoa 4.5 compatibility"
The dependencies in the podspec prevent it from being compatible with the latest versions of RxSwift and RxCoccoa:
[code]

Changing them to this would solve the problem:
[code]

[2019-04-02 20:34] seanrucker commented on #88
RxSwift/RxCocoa are required for Xcode 10.2 and Swift 5 compatibility so it may make sense to address this in #87.

[2019-04-03 04:27] inchtime commented on #88
I can't build my project now.
Are there any other solutions?

[2019-04-03 14:52] EstebanVallejo commented on #88
Temporary, until this is fixed, you can change the framework swift version with the following post install script.

[code]

[2019-04-04 19:02] adm73 commented on #88
My settings as follow and works.

[code]

[2019-04-04 20:37] seanrucker commented on #88
@adm73 check your Podfile.lock that is likely resolving to using RxSwift/RxCocoa 4.4.

[2019-04-09 13:13] pclemente commented on #88
Hi!

While the authors update the library, I have forked it and added Compatibility with RxSwift/RxCocoa 4.5. You can use it from here: https://github.com/pclemente/RxGesture

Hope it helps :)

[2019-04-11 16:08] hampusiggstrom commented on #88
Now fixed in 2.2.0 release

[2019-04-12 12:37] #88 closed

[2019-04-20 12:45] brennobemoura opened #90 "Make tapGesture more simple"
`
extension Reactive where Base: UIView {
    var tap: ControlEvent<Void> {
        return ControlEvent(events: self.tapGesture().when(.recognized).map { _ -> Void in return })
    }
}
`

[2019-04-20 12:46] o-nnerb commented on #90
This way, we just need to do this view.rx.tap.subscribe(onNext: {...}).disposed(by: ...)

[2019-04-23 07:09] jegnux commented on #90
@brennobemoura Unfortunately, this will conflict with `UIButton.rx.tap`.

[2019-04-23 23:09] o-nnerb commented on #90
Well, the first time that I try to extend the `RxGesture`, returning the same type of `UIView.rx.tapGesture()`, I got the error. But, returning the same type `ControlEvent<Void>`, swift handle the conflit with no problem. I don't know if it's because I'm using swift 5, but this worked for me.

[2019-04-23 23:16] o-nnerb commented on #90
You can check if the error will occur by adding the extension that I post at the beginning.

[2019-04-24 17:50] jegnux commented on #90
Hum indeed, maybe this isn't an issue.

However, I'm still not convinced by such addition. I don't see why we should have an exceptional syntax for the tap, but not for other gesture recognizers. Also it will create an inconsistency in the API where for one gesture you're not required to use the `.when(.recognized)`, but for other you do.

One of the swift guildelines is to prefer clarity over bri

[2019-04-24 19:14] o-nnerb commented on #90
I think that's because I was using too much Reactive and, when I use the RxGesture, I was trying the follow the same pattern for UIButton. You're totally right.

[2019-04-24 19:14] #90 closed

[2019-05-02 08:31] Ariandr opened #91 "RxSwift & RxCocoa 5 compatibility?"
Hi.
Now I cannot use RxGesture with recently released RxSwift & RxCocoa 5. (https://github.com/ReactiveX/RxSwift/releases)
It requires RxCocoa 4.5.

Any updates on compatibility plans? Thank you.

![Screenshot at Apr 30 14-51-04](https://user-images.githubusercontent.com/13591333/57063899-70ea2780-6ccd-11e9-8bd8-393e25988b00.png)

[2019-05-06 09:18] trispo commented on #91
@Ariandr You can use this modified podspec I created for now: https://gist.github.com/trispo/29ec5dfefca0ecf8a57fc2f3fc3c4956

Use it like this in your Podfile:
```pod "RxGesture", :podspec => "https://gist.githubusercontent.com/trispo/29ec5dfefca0ecf8a57fc2f3fc3c4956/raw/bf3f85d6762405e98a638080909d19cb65c35f61/RxGesture.podspec"```

[2019-05-06 09:24] Ariandr commented on #91
@trispo Thanks!
For me it's not critical right now, I will wait for the official update to be released. This temporary fix will be important for many users, though :)

[2019-05-09 10:55] DanielAsher commented on #91
`carthage update --no-build --verbose --new-resolver` with RxSwift and RxGesture dependencies hangs for me.

[2019-05-10 09:29] hucool commented on #91
I have the same problem

[2019-05-12 07:08] iwheelbuy commented on #91
any progress?

[2019-05-14 09:41] adamcichy commented on #91
the https://github.com/RxSwiftCommunity/RxGesture/pull/92 PR is merged. what's the ETA for next release?

[2019-05-14 13:04] cliss commented on #91
+1. Would really love to see a new release as this is holding me up as well.

[2019-05-15 11:34] Ariandr commented on #91
Guys, the new version is released, thanks!
https://github.com/RxSwiftCommunity/RxGesture/releases

I close the issue :)

[2019-05-15 11:34] #91 closed

[2019-05-21 13:34] MrQQQQQQQQQQ opened #93 "tapGesture in subview and self both triggered"
the demo is :

let sub = UIImageView.init(frame: CGRect.init(x: 0, y: 0, width: 200, height: 200))
        sub.rx.tapGesture().when(.recognized).subscribe(onNext: { (tap) in

            print("sub tap is \(tap)")

        }).disposed(by: disposeBag)

        self.view.addSubview(sub)

        self.view.rx.tapGesture().when(.recognized).subscribe(onNext: { (tap) in

            print("self tap is

[2019-05-21 13:45] jegnux commented on #93
It's the expected behavior.

To change this, you can configure the gesture delegate as explained here: https://github.com/RxSwiftCommunity/RxGesture#delegate-customization

[2019-05-21 14:10] MrQQQQQQQQQQ commented on #93
thanks !
I changed it to this
 self.view.rx.tapGesture(configuration: { (gesture, delegate) in
            delegate.simultaneousRecognitionPolicy = .never
        }).when(.recognized).subscribe(onNext: { (tap) in
        print("self tap is \(tap)")
    }).disposed(by: disposeBag)

and it works !

[2019-05-21 14:10] #93 closed

[2019-05-24 11:45] ileitch opened #94 "RxGesture podspec does not specify a Swift version."
I'm getting this error during `pod install`:

[code]

There's actually two issues here:
1. RxGesture doesn't set `swift_version` in the podspec.
2. CocoaPods is mistaken that `MyTarget` doesn't set `SWIFT_VERSION` - it does, but only via an xcconfig file.

The CocoaPods bug is likely going to be more complex to resolve, so would you mind adding `swift_version` to the podspec in the mean time?

[2019-06-02 19:47] MortyMerr opened #95 "Swiftlint proposal"
Swiftlint became the golden standard for providing unified code style for projects.
What do you think about adding swiftlint to project (with build phase)?
Config from the main repo could be used - https://github.com/ReactiveX/RxSwift/blob/master/.swiftlint.yml
It will be a pleasure for me to open PR :)

[2019-06-03 04:08] jegnux commented on #95
@MortyMerr I think it's a good idea. Usually, the hardest part is to settle on what rules we should enable or not. But as there's already a main repo config, it's a no brainer :)

[2019-06-05 19:50] M0rtyMerr commented on #95
https://github.com/RxSwiftCommunity/RxGesture/pull/96

[2019-06-10 07:44] jegnux commented on #95
Thanks @MortyMerr 🙏

[2019-06-10 07:44] #95 closed

[2019-06-11 14:18] kaminisea commented on #94
I sent PR which could solve a part of this problem ✌️
I confirmed that the example of this project works normally in the following environment, so it may be useful to refer to it 👍
`
macOS: 10.14.5
Xcode: 10.2.1
Swift: 5.0.1 (swiftlang-1001.0.82.4 clang-1001.0.46.5)
`

[2019-06-11 15:02] #94 closed

[2019-06-14 08:28] kaminisea commented on #71
It may be solved already, but I reply 💪

What is the target of "not successful" is that
"memory is not released" or "error occurs"? 🧐

It may be difficult to identify the cause that the memory
is not released because not a lot of information 😂

The cause of the error may be that you try to capture with unowned self,
the memory has already been released and an error has occurred.

So it might be be

[2019-06-14 12:34] jegnux commented on #71
Hum, actually I think i fixed that at some point. We should verify if it still happens.

[2019-06-15 03:22] kaminisea commented on #71
I have verified this issue.
As a result, I confirmed that memory leak does not occur now 👍
The verification contents will be the following with the [super view](https://github.com/catelina777/RxGesture-MemoryLeak-Test/blob/c6b95e7eb2ae6e0a8b0c0816787728563e4d6bdb/RxGesture-MemoryLeak-Test/Test1ViewController.swift#L14) and the [child view](https://github.com/catelina777/RxGesture-MemoryLeak-Test/b

[2019-06-15 07:44] jegnux commented on #71
Woah, thanks a lot @catelina777 👍
I'm closing this issue then

[2019-06-15 07:44] #71 closed

[2019-08-19 12:29] ileitch opened #101 "3.0.1 not tagged & unavailable in CocoaPods"

[2019-08-22 18:02] shmruin commented on #101
try

... and yes, I found even 3.0 is not available with cocoa pods now. it needs some update.

[2019-09-15 06:49] Runjuu opened #102 "Build error on Xcode 11 GM with Swift Package Manager"
Here is a [demo project](https://github.com/RxSwiftCommunity/RxGesture/files/3613469/Test.zip) to reproduce the issue

[2019-09-23 15:06] lluisgerard opened #103 "Xcode 11 and Carthage: exit code 65 (compile error: use of undeclared type 'Element')"
I'm trying to update everything to Xcode 11/Swift 5.1 and I'm finding this error on Carthage:
[code]

These are the last lines of the compiling log:
[code]

I'm using "master" and the `resolved` file points to the last commit https://github.com/RxSwiftCommunity/RxGesture/commit/bd13354b45507bb30e4f6ac7142b03cd60a0b244

Swift on the console:
```Welcome to Apple Swift version 5.1 (swiftlang-1100.0.2

[2019-10-01 06:38] zocario commented on #102
I have the same issue with Xcode 11, any plans to merge https://github.com/RxSwiftCommunity/RxGesture/pull/98 to fix this error? :)

[2019-10-03 21:56] jegnux commented on #102
I merged #98
Can you tell me if it works correctly now? I'll make a new cocoapods version then

[2019-10-04 15:05] stami commented on #102
@jegnux I had the same issue and #98 fixed it all right.

[2019-10-08 11:31] runjuu commented on #102
@jegnux Master branch now works well.

[2019-10-14 07:35] leonerd42 commented on #103
Got the same issue. Have you ever figured it out?

[2019-10-16 09:52] lluisgerard commented on #103
@mrahmiao not yet. I'm using Xcode 10.3 until I find a solution. I think the problem is not related to `RxGesture` but any `RxSwift` related libraries.

[2019-10-16 16:40] jegnux commented on #102
Thanks for the feedback, I close the issue

[2019-10-16 16:40] #102 closed

[2019-10-17 07:39] leonerd42 commented on #103
@lluisgerard I specified the versions in `Cartfile` and removed the entire checkouts. After that I  rebuilt them and problem solved.

It looks like Carthage did not fetch the right version of RxSwift.

* Cartfile
[code]

* Cartfile.resolve
[code]

[2019-11-18 09:04] peterlendvay commented on #103
we are still facing this issue

[2019-11-19 02:07] AkkeyLab commented on #103
You may succeed if you build after removing the following.
[code]

[2019-11-19 16:42] lluisgerard commented on #103
@mrahmiao I'll play with the versions. I still couldn't figure it out. I have many libraries and Carthage takes a long time and it gets stuck.
@AkkeyLab I just tried to build it on a new Mac Mini, clean install, with no luck. I also removed `~/Library/` cache, etc... But thanks for the suggestion.

For now, I can continue with Xcode 10.3 but it's annoying to keep iOS 12 on some devices just becaus

[2019-11-19 17:11] lluisgerard commented on #103
This compiled correctly. This is my Cartfile.resolve:
[code]
This looks like a Carthage issue more than about any Rx libraries.

I'm closing this but I find out the source of my problem I'll post it here.

[2019-11-19 17:11] #103 closed

[2019-11-20 12:06] lluisgerard commented on #103
Finally found how to solve my issue and it was all down to dependencies with Moya. Please follow the story if you want to understand.

As I explained before, I stripped down my Cartfile to only this to isolate the problem:

[code]

This succeeded and created a `Cartfile.resolved` with the downloaded versions. So what I did is to take these versions and copy them back to my `Cartfile` so I locked t

[2019-12-03 18:45] dsb92 opened #104 "Gesture translation to identify when ended"
There is an error. When gesture has ended the transformation of the view it resets to identity. Specifically, when using panGesture with Rx. Is this a bug or ?

[2019-12-03 19:58] #104 closed

[2020-03-06 11:11] ileitch commented on #101
@jegnux ping?

[2020-03-09 11:33] jegnux commented on #101
@ileitch 3.0.1 has been released in October. It should work now.

[2020-03-09 11:44] ileitch commented on #101
Ah, so it is. Thank you.

[2020-03-09 11:44] #101 closed

[2020-03-27 16:05] Sai-Teja opened #107 "Release 3.0.2 to CocoaPods Repository"
Can you release 3.0.2 to CocoaPods Repository with RxSwift 5.1.0 ? This is needed since Apple will stop accepting builds from April 2020 for all the apps using UIWebView which was removed in RxSwift 5.1.0

[2020-03-31 06:24] Teja-Konjeti commented on #107
@jegnux @icanzilb

[2020-04-07 08:32] #107 closed

[2020-05-16 15:20] lordzsolt opened #110 "Inconsistency between release tag and podspecs"
The last release is tagged as `3.0.3`, but the podspec has `3.0.2`.

Considering `3.0.2` was skipped, I assume there was a typo when creating the tag.

[2020-06-16 21:53] arangato opened #113 "Add XCode 11.4 recommended project settings"
XCode complains in issue navigator about MSAL project an suggests updating it to recommended settings.
Those recomended settings seem to add the following build configuration:

`ENABLE_HARDENED_RUNTIME = YES;`

and compiler flags:
`
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES; CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES; CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES;
`

[2020-06-29 12:01] Endore8 opened #114 "Cannot build with `swift build`"
When `RxGesture` is used as a dependency in a Swift Package, the build fails with:
`ForceTouchGestureRecognizer.swift:1:8: error: no such module 'UIKit.UIGestureRecognizerSubclass'`

It's because Swift Package is universal and so, UIKit might not be available.
The fix is adding code in `#if canImport(UIKit) ... #endif` block.

[2020-08-07 06:29] popei69 commented on #16
Hey guys, is there any plan to pick this one up? I don't mind helping if it's still relevant, thanks!

[2021-01-03 00:20] alex-vasenin opened #118 "RxSwift 6 support"
It would be nice to be able to use shiny new RxSwift 6 https://github.com/ReactiveX/RxSwift/releases/tag/6.0.0

[2021-01-08 13:25] ynnckcmprnl opened #120 "Unable to build 4.0.0 with Carthage"
It seems that the 4.0.0 release does not build.

Running `carthage.sh update --platform iOS RxGesture`

[code]

The specified logfile ends with:

[code]

And there's indeed no RxGestureRecognizerDelegate.swift file in that location.
In the previous 3.0.3 release it does exist.

[2021-01-10 09:06] EnesKaraosman opened #121 "Build Failed for SPM (version 4.0.0)"

[2021-01-21 17:37] Lutzifer commented on #121
@EnesKaraosman I have the same issue, thx for the fix.

[2021-01-23 03:59] GSerjo commented on #121
Could you please create a new Release with fix.

[2021-01-23 04:47] EnesKaraosman commented on #121
Released new version (4.0.1)

[2021-01-23 04:47] #121 closed

[2021-01-26 11:17] ynnckcmprnl commented on #120
Checked the new 4.0.1 release and it still does not compile with Carthage.

[2021-02-25 14:56] ynnckcmprnl commented on #120
Any news regarding this issue?
Judging by the thumbs up, I'm not the only one running into this issue?
I'd rather not have to go through the trouble of forking the repo and using my own fork in my current project.

[2021-02-26 06:52] RajaveluC commented on #120
I am facing the same issue. Is there a planned fix for this? Or a way to resolve this?

[2021-03-24 08:36] jegnux commented on #120
@ynnckcmprnl @RajaveluC thanks for your patience folks. Please check [v4.0.2](https://github.com/RxSwiftCommunity/RxGesture/releases/tag/4.0.2) for this fix 😉

[2021-03-24 08:36] #120 closed

[2021-03-24 08:37] #118 closed

[2021-03-24 08:37] #114 closed

[2021-03-24 08:37] #113 closed

[2021-03-24 08:38] #110 closed

[2021-03-24 08:39] #70 closed

[2021-03-24 08:40] #16 closed

[2021-08-17 04:20] ishall1 opened #125 "Why set isUserInteractionEnabled = true?"
![image](https://user-images.githubusercontent.com/8748505/129662973-fe77fea8-4d97-4a1f-88da-5887e2bcebd9.png)

I found you set **isUserInteractionEnabled = true** in **public func gesture<G: RxGestureRecognizer>(_ gesture: G) -> ControlEvent<G>** and i wonder is there any reason to do so?

[2021-08-17 20:28] vzsg commented on #125
Disclaimer: I'm not the author of the library, but I believe the line makes sense.

If this extension function is used on a UILabel, UIImageView or otherwise non-interactive by default view, then the gesture recognizer would not fire unless you set the isUserInteractionEnabled flag to true manually. That would certainly be confusing or aggravating for the end user.

[2021-08-18 10:41] ishall1 commented on #125
It seems an unexpected side effect to me. Some times  interactive of a view should be determined by business, so how can i avoid conflict in this situation?

[2021-08-18 11:06] vzsg commented on #125
Hmm. The more I think about it, your point makes the more sense.

(*) And this is exactly what got my gears grinding: if subscription sets it to true, why doesn't unsubscribing revert it to the original state?

That being said, changing this would break applications that don't set the flag manually, which I assume most of the clients of the library...

[2021-08-24 08:31] jegnux commented on #125
Hey @ishall1 👋

I have to admit it was an opinionated choice and @vzsg explanation is correct, without it gesture recognizers don't work on some views like UILabel, etc...

That said, I understand your business use case and once again @vzsg is correct. The idiomatic "RxGesture" way to do it is through the Rx runtime: filtering events or disposing the subscription.

[2021-08-24 08:31] #125 closed

[2021-11-12 03:01] funsiyuan opened #127 "Can't pass Xcode 12.5.1 build"
@jegnux  Hi 😄

I'm using Xcode 12.5.1 to build carthage, but it doesn't look like it's working.

I performed the following steps but it failed.
Do you know what is the reason for this.

CPU: Intel
OS: Big sur

[code]

[2021-11-12 06:41] #127 closed

[2022-01-18 09:52] GPF253904828 opened #128 "launch crash（Xcode13.2.1,iPhone12.5.5(iPhone6P/iPhone6)）"
dyld: Symbol not found: ___chkstk_darwin
  Referenced from: /private/var/containers/Bundle/Application/328F0644-9ACE-4F31-A547-E9F4950A2F9F/XXX.app/Frameworks/libswift_Concurrency.dylib (which was built for iOS 13.0)
  Expected in: /usr/lib/libSystem.B.dylib
 in /private/var/containers/Bundle/Application/328F0644-9ACE-4F31-A547-E9F4950A2F9F/XXX.app/Frameworks/libswift_Concurrency.dylib

[2022-01-18 10:35] #128 closed

[2022-01-20 11:51] pakerwreah opened #129 "Broken build on macOS after changes in 4.0.3"
Fixing the exclude path in `Package.swift` #126 actually broke the build on macOS.

Since the extension in `Pod/Classes/OSX/NSGestureRecognizer+Rx` is not created, we end up getting an error in `Pod/Classes/View+RxGesture.swift`

.../RxGesture/Pod/Classes/View+RxGesture.swift:98:38: value of type 'Reactive<RxGestureRecognizer>' (aka 'Reactive<NSGestureRecognizer>') has no dynamic member 'event' us

[2022-03-24 13:03] ShenYj opened #131 "a minimum deployment target of iOS 12.0"
I make xcframework by Carthage and integrate it in my project with this error:

<img width="1010" alt="截屏2022-03-24 20 56 45" src="https://user-images.githubusercontent.com/15159923/159921031-ca5c98e4-b0cb-427f-96a1-86b8e6f7bb51.png">

[2022-03-24 13:34] ShenYj commented on #131
I found the problem in my xcframework
<img width="806" alt="截屏2022-03-24 21 28 54" src="https://user-images.githubusercontent.com/15159923/159927061-3fd89b1f-a26e-49a3-8660-e7b2d231585a.png">

seems like the Carthage's wrong?

But why? Carthage make the xcframework with the minimum version 12.0?

Carthage seems like has no feature to modify the target version?

[2022-03-24 13:37] ShenYj commented on #131
@Carthage

[2022-03-25 01:50] ShenYj commented on #131
https://github.com/Carthage/Carthage/issues/3265#issuecomment-1078572558

Carthage and CocoaPods take a different target minimum version with RxGesture?